<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-static-top">
  <img src="assets/live-local.png" class="pull-left">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li [ngClass]="{ 'active': selectedRoute === '/#' }"><a href="#">Home</a></li>
        <li [ngClass]="{ 'active': selectedRoute === '/happenings' }"><a href="happenings">Happenings</a></li>
        <li [ngClass]="{ 'active': selectedRoute === '/thisday'}"><a href="thisday">On This Day</a></li>
        <li [ngClass]="{ 'active': selectedRoute === '/about'}"><a href="about">About</a></li>
      </ul>
    </div> <!--/.nav-collapse -->
  </div>
</div>
