<div class="panel panel-primary">
  <div class="panel-heading">
    What's Happening
  </div>
  <div class="panel-body">
    <div *ngIf="happenings">
      <ul class="list-unstyled">
        <li *ngFor="let h of happenings">
          <lilo-happening-card
            [happening]="h"
            [selectedID]="selectedID"
            (selected)="selectHappening($event)"
          ></lilo-happening-card>
        </li>
      </ul>
    </div>
    <div *ngIf="!happenings || happenings.length < 1">
      <p *ngIf="loadingData">Loading...</p>
      <p *ngIf="!loadingData">Nothing to show.</p>
    </div>
  </div>
</div>
