<div class="panel panel-default">
  <div class="panel-heading">Live Local in {{region$ | async}}</div>
  <div class="panel-body">
    <p>
      <a href="http://www.potomac-cs.com"> Potomac Computer Solutions</a> developed this site to help people explore
      local happenings and businesses.
      Initially, the content is a list of upcoming performances generously maintained by Gumby. We have plans to include
      other categories like farmers markets, craft breweries, wineries, art exhibits, natural wonders, etc.
    </p>
  </div>
</div>
