<div class="panel panel-default">
  <div class="panel-heading">Live Local around {{region$ | async}}</div>
  <div class="panel-body">
    <p>
      <a href="http://www.potomac-cs.com"> Potomac Computer Solutions</a> developed this site to help you explore
      local wonders, happenings, and businesses.
      Initially, the content is a list of <span class="label label-success">upcoming performances</span> generously maintained by Gumby. There are plans to include
      other categories like
      <span class="label label-default">farmers markets</span>,
      <span class="label label-default">craft breweries</span>,
      <span class="label label-default">wineries</span>,
      <span class="label label-default">art exhibits</span>,
      <span class="label label-default">natural wonders</span>, and more.
    </p>
  </div>
</div>
