$active_card_color: lemonchiffon;

.extra-info {
  text-indent: 30px hanging;
  font-size: 85%;
  width: 95%;
}

.card-header {
  font-weight: bold;
  cursor: pointer;
}

label {
  margin-right: 6px;
}

*.card.active {
  border: 3px solid $active_card_color;
  background-color: $active_card_color;
}
