<div class="card" [ngClass]="{ 'active': isSelected() }">
  <div class="card-header" [ngClass]="getCardClass()"  
    (click)="selectHappening(happening)">
    {{happening?.eventName}}
    <div class="pull-right">
      <span [ngClass]="{ 'text-danger': isSoldOut() }">{{happening?.ticketPrices}}</span>
    </div>
  </div>
  <div class="card-block m-2">
    <div class="form form-horizontal">
      <label>Venue: </label><span>{{happening?.venueName}}</span>
      <br>
      <label>Show Date: </label><span>{{happening?.showDate | date:"fullDate"}}</span>
      <div *ngIf="!isMultiDay()">
        <label>Start Time: </label><span>{{happening?.showTime}} </span>
      </div>
      <div *ngIf="isMultiDay()">
        <label>End Date: </label><span>{{happening.showEndDate | date:"fullDate"}}</span>
      </div>
      <div class="pull-right extra-info" *ngIf="happening?.featuring">
        <span>{{happening.featuring}}</span>
      </div>
    </div>
  </div>
</div>
