.extra-info {
  text-indent: 30px hanging;
  font-size: 85%;
  width: 95%;
}

.panel-heading {
  font-weight: bold;
}

label {
  margin-right: 8px;
}

.panel-info > .panel-heading {
  cursor: pointer;
}

*.panel-info.active {
  border: 3px solid palevioletred;
}
